.fake-sidebar {
    height: 60px;
}

#page-content-wrapper {
	background-color: rbg(240, 240, 240);
}

.book_pro {
	background-color: rbg(255, 255, 255);
	text-align: center;
	padding: 10px;
}

.book_pro:hover a img{
	transform: scale(1.05);
}

.book_pro a img{
	display: table;
	height: 200px;
	width: auto;
}

.sideHeading {
	margin-left: 20px;
	margin-bottom: 20px;
	color: #fff;
}

.favo-icon{
	background-image: url(../images/bookmark-before.png);
	background-size: 15px 20px;
	height: 20px;
	width: 15px;
	cursor: pointer;
	display: inline; 
	float: left;
}

.book-title{
	margin: 6px;
	color:#444;
}

.book-desc{
	margin: 3px;
	color:gray;
}
.book-category{
	font-size: 10px;
	margin: 3px;
	color:gray;
}

.add-favo{
	margin-top: 30px;
}

.detail-title {
	color:#555252;
}

.detail-subtit {
	color:#6d6d6d;
}

.trends {
	margin-left: 10px;
}

